package layouts

templ Page(title string, content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>{ title }</title>
		</head>
		<body>
			<section>
				if content!= nil {
					@content
				}
				{ children... }
			</section>
		</body>
	</html>
}
